{% extends "network/layout.html" %} 
{% load static %} 
{% block body %}
    {% for post in page_obj %}
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'profile' post.user %}" class="text-decoration-none text-dark">{{ post.user }}</a>
                </h5>
                <p class="card-text">{{ post.content }}</p>
                {% if request.user not in post.likes.all %}
                <p class="card-text like" id="like" data-id="{{ post.id }}">like</p>
                {% else %}
                <p class="card-text like" id="like" data-id="{{ post.id }}">unlike</p>
                {% endif %}
                <p class = "card-text" id="likecount-{{ post.id }}">{{ post.likes.count }}</p>
                {% if post.user == request.user %}
                <button type="button" class="btn btn-primary edit" data-id="{{ post.id }}">Edit</button>
                {% endif %}
                <p class="card-text">
                    <small class="text-muted">{{ post.timestamp }}</small>
                </p>
            </div>
        </div>
    </div>
    <br />
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a
                    href="?page={{ page_obj.previous_page_number }}"
                    class="page-link"
                    >&laquo; Previous</a
                >
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            <li class="page-item">
                <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a
                    href="?page={{ page_obj.next_page_number }}"
                    class="page-link"
                    >Next &raquo;</a
                >
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
<script src="{% static 'network/like.js' %}"></script>
<script src="{% static 'network/follow.js' %}"></script>

{% endblock %}