{% extends "network/layout.html" %} {% block body %} 
{% if not user.is_authenticated %}
<div class="container text-center">
    <h1>Join today</h1>
    <a href="{% url 'register' %}" class="btn btn-outline-primary"
        >Sign up with email</a
    >
    <h2>Already have an account?</h2>
    <a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a>
</div>
{% endif %} {% if user.is_authenticated%}

<div class="container">
    <h1>All Posts</h1>
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">{{ post_form.content }}</div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
            <br />
        </div>
    </div>
    <div class="post-view"></div>
    {% endif%} {% endblock %}
</div>
