{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ view_user }}</h5>
                <h6 id="follow" data-id="{{ view_user }}">Follow</h6>
            </div>
        </div>
    </div>
    {% for post in page_obj %}
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'profile' post.user %}" class="text-decoration-none text-dark">{{ post.user }}</a>
                </h5>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ post.timestamp }}</small>
                </p>
            </div>
        </div>
    </div>
    <br />
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            <li class="page-item">
                <span class="page-link"
                    >Page {{ page_obj.number }} of {{
                    page_obj.paginator.num_pages }}</span
                >
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}
